<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Existem alguns campos que precisam de sua atenção</strong>.
    </div>
    {% endif %}

    {{ form.as_p }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a href="/core/" class="btn btn-danger">Cancelar</a>
            <input type="submit" class="btn btn-success" id="send_campaign" value="Enviar">
        </div>
    </div>
</form>